/****************************************
*              banner home             *
* ***************************************/
.hero-title {
    white-space: nowrap; /* Ngăn xuống dòng */
    overflow: hidden;    /* Ẩn phần tràn nếu có */
    text-overflow: ellipsis; /* (Tùy chọn) thêm "..." nếu chữ dài quá */
    font-size: 6vw; /* Tùy chỉnh kích thước linh hoạt theo chiều rộng */
    max-width: 100%; /* Đảm bảo chiếm đủ bề ngang */
    text-align: center; /* Căn giữa nếu muốn */
}
.hero-subtitle {
    color: #fff; /* trắng hoặc màu tương phản với nền */
    text-align: center;
    font-size: 4vw;
    margin-top: 1rem;
    z-index: 2;
    position: relative;
}


/****************************************
*       trang tour thêm thời gian        *
* ***************************************/
.datetimepicker-custom {
    padding: 0;
}

.datetimepicker-custom:focus {
    border: none;
}
.main-header.header-one .main-menu .navbar-collapse .navigation .active {
    background: var(--primary-color);
}

/****************************************
*              trang tour            *
* ***************************************/
.dropdown-menu {
    list-style-type: none;
    padding: 8px 0;
    margin: 0;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #ffffff;
    display: none;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    z-index: 1000;
    min-width: 180px;
}

.dropdown-menu li {
    padding: 10px 16px;
    cursor: pointer;
    white-space: nowrap;
}

.dropdown-menu li + li {
    border-top: 1px solid #eee; /* Thêm đường kẻ ngang giữa các mục */
}

.dropdown-menu li:hover {
    background-color: #f5f5f5;
}


/*Dropdown menu */
.menu-sidebar, .drop-down {
    position: relative;
}
.icon-user {
    font-size: 35px;   /* hoặc 32px tùy bạn */
    color: #000;       /* nếu cần chỉnh màu */
}
.dropdown-menu li {
    padding: 0;
}

.dropdown-menu li a {
    display: block;
    padding: 10px 16px;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.dropdown-menu li a:hover {
    background-color: #f1f1f1;
    color: #007bff;
}

/*css tour in home*/
.block_tour{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.tour-gallery .gallery-between, .tour-gallery .gallery-item img{
    height: 100%;
    border-radius: 8px;
}


/*css lọc tours*/
.div_filter_clear {
    display: flex;
    justify-content: end;
}
.clear_filter {
    color: #fff;
    background-color: var(--bs-green);
    border-radius: 8px;
    padding: 2px 20px;
}

/****************************************
*              trang tour            *
* ***************************************/
.div_filter_clear {
    display: flex;
    justify-content: end;
}
.clear_filter {
    color: #fff;
    background-color: var(--bs-green);
    border-radius: 8px;
    padding: 2px 20px;
}

.loader {
    margin: auto;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid green;
    border-bottom: 16px solid green;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/***************************************
             thông tin cá nhân        
 ***************************************/
#card_change_password {
    display: none;
}


/****************************************
              trang Booking            
 ***************************************/
/* Layout */
.booking-container {
    max-width: 1200px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    gap: 24px;
}

.booking-container {
    .booking__infor {
        background-color: #F6F8FA;
        display: grid;
        grid-template-columns: 1fr 1fr;
        border: none;
        gap: 16px;
        padding: 30px;
    }

    .booking-info {
        flex: 1;
    }

    .booking-summary {
        width: 400px;
    }

    /* Header */
    .booking-header {
        margin-bottom: 30px;
        font-size: 24px;
        font-weight: 700;
    }

    /* Form Styling */

    .booking__infor .form-group label {
        font-weight: 600;
        font-size: 1rem;
    }

    .booking__infor .form-group input {
        width: 100%;
        height: 56px;
        padding: 16px 17px;
        font-size: 1rem;
        border: 0px solid #E2E4E5;
        border-radius: 5px;
    }

    /* Quantity Selector */
    .booking__quantity {
        display: flex;
        gap: 24px;
    }

    .quantity-selector {
        width: 50%;
        display: flex;
        align-items: center;
        border: 1px solid #E2E4E5;
        padding: 20px;
        justify-content: space-between;
        gap: 48px;
    }

    .input__quanlity {
        display: flex;
        gap: 16px;
    }

    .quantity-btn {
        width: 30px;
        height: 30px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-weight: bold;
        border-radius: 5px;
        border: 2px solid #63AB45;
        color: #63AB45;
    }

    .quantity-input {
        padding: 0;
        width: 30px;
        text-align: center;
        border: none;
        font-size: 24px;
        line-height: 1;
        letter-spacing: 0em;
        font-weight: 500;
        color: #63AB45;
    }

    /* Payment Options */
    .payment-option {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid #E2E4E5;
        border-radius: 5px;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .payment-option img {
        width: 40px;
    }

    /* Privacy Agreement */
    .privacy-section {
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        background-color: #F9F9F9;
        border-radius: 5px;
        font-size: 1rem;
        color: #333;
        text-align: center;
    }

    .privacy-booking {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        justify-content: center;
    }

    /* Order Summary */
    .order-summary {
        border-top: 1px solid #D6D6D6;
        margin-top: 20px;
        padding-top: 20px;
    }

    .summary-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .total-price, .quantity__adults, .quantity__children {
        font-weight: bold;
        font-size: 1.2rem;
    }

    /* Button */
    .booking-btn {
        width: 100%;
        padding: 15px;
        background-color: #ED1B35;
        color: white;
        font-weight: 700;
        font-size: 1.1rem;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .summary-section {
        padding: 16px;
        box-shadow: 10px 10px 36px rgba(0, 0, 0, 0.08);
        position: sticky;
        top: 50px;
    }
    .order-coupon {
        border-top: 1px solid #d6d6d6;
        margin: 20px 0;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        gap: 2px;
        border-bottom: 1px solid #d6d6d6;
    }
    .order-coupon input {
        border-radius: 8px;
        border: 1px solid #e2e4e5;
    }
    .btn-submit-booking.inactive {
        background-color: #f3d5b1;
        cursor: not-allowed;
    }

    /* CSS cho thông báo lỗi */
    .error-message {
        color: red;
        font-size: 0.9em;
        display: none;
        margin-top: 5px;
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    .booking-container {
        flex-direction: column;
    }

    .booking-summary {
        width: 100%;
        margin-top: 20px;
    }
}
#toast-container .toast-success {
    background-image: none !important;
    background-color: #51A351 !important; /* Màu xanh cho success */
    color: #fff !important; /* Văn bản trắng trên nền xanh */
}
#toast-container .toast-error {
    background-image: none !important;
    background-color: #bd362f !important; /* Màu đỏ cho error */
    color: #fff !important; /* Văn bản trắng trên nền đỏ */
}


/*xử lý thêm Features backrough */
.features-bg {
    background-image: url('/clients/assets/images/Features/hehe.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.features-area h2 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.4;
    color: #ffffff;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}






